*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Poppins,sans-serif;
}

                        /* Navigation Bar */
.navbar{
  padding: 0%;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.652);
}
.navbar-brand{
  height: 3em;
  width: 3em;
}
.navbar-toggler{
  color: black;
  border: none;
  padding: 5px;
}
.hamburger{
  height: 2em;
  width: 2em;
}

.navbar-nav .nav-item{
  padding: 1em;
  font-weight: bold;
  text-wrap: nowrap;
  color: rgba(0, 0, 0, 0.66);  
}

.navbar-nav .nav-item:hover{
  background-image: linear-gradient(to right,rgb(21, 21, 135),rgb(211, 26, 41));
  color: white;
}
.navbar-nav a{
  text-decoration: none;
}


                      /* Digital Marketing */

.dm h1{
  font-weight: bold;
  font-size: 2em;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg,#0f089f,#e6166a);
  background-clip: text;
  margin: 20px 0;
}
.dm h4{
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg,#0f089f,#e6166a);
  background-clip: text;
}
.dm .para{
  margin-top: 20px;
  text-align: justify;
  font-size: large;
  color: rgba(0, 0, 0, 0.781);
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dm .modal p{
  text-align: justify;
  font-size: large;
  color: rgba(0, 0, 0, 0.781);
  padding: 0px 10px;
}
.dm .modal .modal-body::-webkit-scrollbar{
  width: 5px;
}
.dm .modal .modal-body::-webkit-scrollbar-track{
  background-color: #ffffff;
  border-radius: 50px;
}
.dm .modal .modal-body::-webkit-scrollbar-thumb{
  background: linear-gradient(to bottom,#0f089f,#e6166a);
  border-radius: 50px;
}
.dm .row .col{
  margin-bottom: 30px;
}
.dm .row .content{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.411);
  border-radius: 10px;
  padding: 0px 30px 10px;
}
.dm .btn{
  font-weight: bold;
  background-color: #0f089f;
  color: azure;
}
.dm .btn:hover{
  background-color: #ee0576;
  color: azure;
}

                              /* BPO */
.bpo h1{
  font-weight: bold;
  font-size: 2em;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg,#0f089f,#e6166a);
  background-clip: text;
  padding: 1rem 0;
}
.bpo img{
  width: 100%;
  height: 100%;
}
.bpo p{
  color: rgba(0, 0, 0, 0.637);
  text-align: justify;
}
.bpo .row{
  padding: 0% 5%;
  margin-bottom: 20px;
}


                            /* Contact */
.contact h1{
  font-weight: bold;
  font-size: 2em;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg,#0f089f,#e6166a);
  background-clip: text;
}
.form div{
  padding-bottom: 2%;
}
.form label{
  font-size: smaller;
  margin: 0%;
}
.form label span{
  color: red;
}
.form input{
  font-size: smaller;
}
.contact iframe{
  border: 1px solid black;
  width: 100%;
  height: 500px;
}

                            /* Info */
.info .row #img1{
  height: 150px;
  width: 150px;
}
.info .row h5{
  font-weight: bold;
  margin-bottom: 15px;
}
.info .row #img2 img{
  height: 35px;
  width: 35px;
}
.info .row ul{
  list-style-type: none;
  padding-left: 0%;
}
.info .row div{
  margin-bottom: 1em;
}
.info .detail{
  color: rgba(0, 0, 0, 0.663);
  font-style: italic;

}
                            /* Footer */
footer{
  background-color: black;
  color: antiquewhite;
  text-align: center;
  padding: 8px 0%;
}



                             /* Media queries */
@media screen and (max-width:1200px){
  .contact iframe{
    height: 400px;
  }
  .info{
    padding: 0px 30px;
  }
}

@media screen and (max-width:768px){
  .contact{
    margin-top: 5%;
  }
  .contact .row div{
    margin-top: 3%;
  }
  .contact .row img{
    height: 100%;
  }
  .contact iframe{
    margin-top: 15px;
    height: 300px;
  }
  .info .row #img1{
    height: 100px;
    width: 100px;
    margin: 15px 0px;
  }
  .modal .modal-dialog{
    margin: 30px;
  }
}

@media screen and (min-width:1200px){
  .info .row #con{
    display: flex;
    justify-content: center;
  }
}